<section>
    <div class="panel mb-5">
        <h1 class="text-[35px] mb-5">إضافة منتج</h1>
        <form class="grid grid-cols-12 gap-3 mb-3" [formGroup]="productForm" (ngSubmit)="submitProductForm()">
            <div class="col-span-6">
                <label for="inventory">المخزن</label>
                <select formControlName="warehouseId" class="form-select" name="inventory" id="inventory">
                    <option value="" selected disabled>إختر المخزن</option>
                    @for (inventory of allInventories; track $index) {
                        <option [value]="inventory.id">{{inventory.name}}</option>
                    }
                </select>
            </div>
            <div class="col-span-6">
                <label for="category">الفئة</label>
                <select formControlName="categoryId" class="form-select" name="category" id="category">
                    <option value="" selected disabled>إختر الفئة</option>
                     @for (category of allCategories; track $index) {
                        <option [value]="category.id">{{category.name}}</option>
                    }
                </select>
            </div>
            <div class="col-span-6">
                <label for="product">إسم المنتج</label>
                <input formControlName="name" class="form-input" type="text" name="product" id="product" placeholder="أدخل أسم المنتج...">
            </div>
            <div class="col-span-6">
                <label for="measurement">وحدة المنتج</label>
                <select formControlName="units" class="form-select" name="measurement" id="measurement">
                    <option value="" selected disabled>إختر وحدة المنتج</option>
                    <option value="4">قطعة</option>
                    <option value="1">علبة</option>
                    <option value="2">جرام</option>
                    <option value="3">مل</option>
                </select>
            </div>
            <div class="col-span-12">
                <label for="details">وصف المنتج</label>
                <textarea formControlName="description" class="form-input" name="details" id="details" placeholder="أدخل الوصف..."></textarea>
            </div>
            <div class="col-span-4">
                <label for="purchase">سعر الشراء</label>
                <input formControlName="purchasePrice" min="0" class="form-input" type="number" name="purchase" id="purchase" placeholder="أدخل سعر الشراء...">
            </div>
            <div class="col-span-4">
                <label for="sale">سعر البيع</label>
                <input formControlName="sellingPrice" min="0" class="form-input" type="number" name="sale" id="sale" placeholder="أدخل سعر البيع...">
            </div>
            <div class="col-span-4">
                <label for="count">الكمية</label>
                <input formControlName="quantity" min="1" class="form-input" type="number" name="count" id="count" placeholder="أدخل الكمية...">
            </div>
            <div class="col-span-12">
                <div class="flex justify-center items-center">
                    @if(!update){
                        <button class="btn btn-primary">حفظ</button>
                    } @else {
                        <button class="btn btn-success" type="button" (click)="updateProduct()">تعديل</button>
                    }
                </div>
            </div>
        </form>
    </div>


    <div class="panel">
        <h1 class="text-[35px] mb-5">عرض المنتجات</h1>
        <div class="mb-4 max-w-md">
            <input
                type="text"
                [(ngModel)]="searchTerm"
                (input)="filterProducts()"
                placeholder="ابحث..."
                class="form-input w-full border rounded px-4 py-2"
            />
        </div>

        <div class="mb-4 max-w-md">
            <h3>- إجمالي المبيعات للمخزون : <span class="font-bold">{{totalProfit}} جنية</span> </h3>
            <h3 class="my-3">- إجمالي رأس المال : <span class="font-bold">{{totalCapital}} جنية</span> </h3>
            <h3>- إجمالي الربح الصافي : <span class="font-bold">{{totalProfit - totalCapital}} جنية</span> </h3>

        </div>

        <div class="overflow-auto">
            <table class="min-w-full border border-gray-300 text-right">
                <thead class="bg-gray-100">
                    <tr>
                        <th class="px-4 py-2 border cursor-pointer" (click)="sortBy('warehouseName')">
                            اسم المخزن
                            <span *ngIf="sortColumn === 'warehouseName'">
                                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                            </span>
                        </th>
                        <th class="px-4 py-2 border cursor-pointer" (click)="sortBy('name')">
                            اسم المنتج
                            <span *ngIf="sortColumn === 'name'">
                                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                            </span>
                        </th>
                        <th class="px-4 py-2 border cursor-pointer" (click)="sortBy('unitName')">
                            وحدة المنتج
                            <span *ngIf="sortColumn === 'unitName'">
                                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                            </span>
                        </th>
                        <th class="px-4 py-2 border cursor-pointer" (click)="sortBy('categoryName')">
                            اسم الفئة
                            <span *ngIf="sortColumn === 'categoryName'">
                                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                            </span>
                        </th>
                        <th class="px-4 py-2 border cursor-pointer" (click)="sortBy('purchasePrice')">
                            سعر الشراء
                            <span *ngIf="sortColumn === 'purchasePrice'">
                                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                            </span>
                        </th>
                        <th class="px-4 py-2 border cursor-pointer" (click)="sortBy('sellingPrice')">
                            سعر البيع
                            <span *ngIf="sortColumn === 'sellingPrice'">
                                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                            </span>
                        </th>
                        <th class="px-4 py-2 border cursor-pointer" (click)="sortBy('quantity')">
                            الكمية
                            <span *ngIf="sortColumn === 'quantity'">
                                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                            </span>
                        </th>
                        <th class="px-4 py-2 border cursor-pointer">
                            إجمالي رأس المال
                        </th>
                        <th class="px-4 py-2 border cursor-pointer">
                            إجمالي مبيعات
                        </th>
                        <th class="px-4 py-2 border cursor-pointer" (click)="sortBy('description')">
                            التفاصيل
                            <span *ngIf="sortColumn === 'description'">
                                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                            </span>
                        </th>

                        <th class="px-4 py-2 border text-center">الإجراء</th>
                    </tr>
                </thead>
                <tbody>
                    @for(product of filteredProducts | paginate: { id: 'foo', itemsPerPage: 25, currentPage: p, totalItems: totalItem }; track $index){
                        <tr class="hover:bg-gray-50 transition">
                            <td class="px-4 py-2 border">{{ product.warehouseName }}</td>
                            <td class="px-4 py-2 border">{{ product.name }}</td>
                            <td class="px-4 py-2 border">{{ product.unitName }}</td>
                            <td class="px-4 py-2 border">{{ product.categoryName }}</td>
                            <td class="px-4 py-2 border">{{ product.purchasePrice }} جنية</td>
                            <td class="px-4 py-2 border">{{ product.sellingPrice }} جنية</td>
                            <td class="px-4 py-2 border">{{ product.quantity }}</td>
                            <td class="px-4 py-2 border">{{ product.quantity * product.purchasePrice}} جنية</td>
                            <td class="px-4 py-2 border">{{ product.quantity * product.sellingPrice}} جنية</td>
                            <td class="px-4 py-2 border">{{ product.description }}</td>
                            <td class="px-4 py-2 border">
                               <div class="flex justify-center items-center gap-3">
                                    <button class="text-blue-600 hover:underline">
                                        <i class="fa-solid fa-pen-to-square text-success" (click)="patchProductData(product)"></i>
                                    </button>
                                    <button class="text-red-600 hover:underline">
                                        <i class="fa-solid fa-trash-can text-danger" (click)="deleteProduct(product.id)"></i>
                                    </button>
                               </div>
                            </td>
                        </tr>
                    }

                    @if(filteredProducts.length === 0){
                        <tr>
                            <td colspan="5" class="text-center py-4 text-gray-500">
                            لا توجد منتجات مطابقة.
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="flex justify-center items-center mt-3">
                <pagination-controls (pageChange)="p = $event" id="foo" ></pagination-controls>
            </div>
        </div>
    </div>
</section>
