<section>
    <div class="panel mb-4">
        <h1 class="text-[35px] mb-5">إضافة فئة جديدة</h1>
        <form class="mb-4" [formGroup]="categoryForm" (ngSubmit)="submitCategoryForm()">
            <label for="categoryName">اسم الفئة</label>
            <input formControlName="name" name="categoryName" type="text" class="form-input mb-3" placeholder="أدخل الفئة...">
            <div class="flex justify-center items-center">
                @if(!update){
                        <button class="btn btn-primary">حفظ</button>
                    } @else {
                        <button class="btn btn-success" type="button" (click)="updateCategory()">تعديل</button>
                    }
            </div>
        </form>
    </div>


    <div class="panel">
        <h1 class="text-[35px] mb-5">عرض الفئات</h1>
        <div class="mb-4 max-w-md">
            <input
                type="text"
                [(ngModel)]="searchTerm"
                (input)="filterCategories()"
                placeholder="ابحث برقم أو اسم الفئة..."
                class="form-input w-full border rounded px-4 py-2"
            />
        </div>

        <div class="overflow-auto">
            <table class="min-w-full border border-gray-300 text-right">
                <thead class="bg-gray-100">
                <tr>
                    <th class="px-4 py-2 border cursor-pointer">
                    رقم الفئة
                    <span
                        class="ml-1 text-xs"
                        [ngClass]="{
                        'text-gray-400': sortColumn !== 'id',
                        'text-black': sortColumn === 'id'
                        }"
                    >
                        <!-- {{ sortColumn === 'id' ? (sortDirection === 'asc' ? '▲' : '▼') : '▲' }} -->
                    </span>
                    </th>
                    <th class="px-4 py-2 border cursor-pointer" (click)="sortBy('name')">
                    اسم الفئة
                    <span
                        class="ml-1 text-xs"
                        [ngClass]="{
                        'text-gray-400': sortColumn !== 'name',
                        'text-black': sortColumn === 'name'
                        }"
                    >
                        {{ sortColumn === 'name' ? (sortDirection === 'asc' ? '▲' : '▼') : '▲' }}
                    </span>
                    </th>
                    <th class="px-4 py-2 border text-center">الإجراء</th>
                </tr>
                </thead>
                <tbody>
                    @for (category of filteredCategories | paginate: { id: 'foo', itemsPerPage: 10, currentPage: p, totalItems: totalItem }; track $index) {
                         <tr class="hover:bg-gray-50 transition">
                            <td class="px-4 py-2 border">{{ $index + 1 }}</td>
                            <td class="px-4 py-2 border">{{ category.name }}</td>
                            <td class="px-4 py-2 border">
                               <div class="flex justify-center items-center gap-3">
                                    <button class="text-blue-600 hover:underline">
                                        <i class="fa-solid fa-pen-to-square text-success" (click)="pathCategoryData(category)"></i>
                                    </button>
                                    <button class="text-red-600 hover:underline">
                                        <i class="fa-solid fa-trash-can text-danger" (click)="deleteCategory(category.id)"></i>
                                    </button>
                               </div>
                            </td>
                        </tr>
                    }

                <tr *ngIf="filteredCategories.length === 0">
                    <td colspan="3" class="text-center py-4 text-gray-500">
                    لا توجد فئات مطابقة.
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="flex justify-center items-center mt-3">
                <pagination-controls (pageChange)="p = $event" id="foo" ></pagination-controls>
            </div>
        </div>
    </div>
</section>
