<section>
    <div class="panel mb-5">
        <h1 class="text-[35px] mb-5">عمليات البيع</h1>
        <form class="grid grid-cols-12 gap-3 mb-3" [formGroup]="salesOperationFrom" (ngSubmit)="submitSalesOperationForm()">
            <div class="col-span-12">
                <label for="client">إسم العميل</label>
                <ng-select
                    formControlName="clientId"
                    [items]="allClients"
                    bindLabel="fullName"
                    bindValue="id"
                    [clearable]="false"
                    placeholder="إختر العميل"
                    class="custom-multiselect"
                    [searchFn]="customSearchClientFn">
                </ng-select>
            </div>

            <div class="md:col-span-1 col-span-12">
                <div class="h-full flex justify-start items-center mt-1">
                    <button type="button" class="btn btn-sm btn-success" (click)="addProduct()">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
            </div>

            <div class="col-span-11" formArrayName="products">
                <ng-container *ngFor="let product of products().controls; let i = index">
                    <div [formGroupName]="i">
                        <div class="grid grid-col-1 md:grid-cols-12 gap-3 mb-3">
                            <div class="md:col-span-3 col-span-12">
                                <label for="employeeName">إسم المنتج</label>
                                <ng-select formControlName="productId" [items]="allProducts" bindLabel="name" bindValue="id" [clearable]="false" placeholder="إختر المنتج..." class="custom-multiselect"></ng-select>
                            </div>

                            <div class="md:col-span-3 col-span-12">
                                <label for="quantity">سعر البيع</label>
                                <input class="form-input" formControlName="salesAmount" type="number" name="quantity" id="quantity" placeholder="أدخل الكمية...">
                            </div>

                            <div class="md:col-span-2 col-span-12">
                                <label for="quantity">الكمية</label>
                                <input class="form-input" formControlName="quantity" type="number" name="quantity" id="quantity" placeholder="أدخل الكمية...">
                            </div>

                            <div class="md:col-span-3 col-span-12">
                                <label for="quantity">إجمالي المبلغ</label>
                                <input class="form-input" formControlName="totelAmount" type="number" name="quantity" id="quantity" placeholder="أدخل الكمية...">
                            </div>

                            @if(i > 0){
                                <div class="col-span-1">
                                    <div class="h-full flex justify-center items-center mt-3">
                                        <button class="btn btn-sm btn-danger" (click)="removeProduct(i)"><i class="fa-solid fa-trash"></i></button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </ng-container>
            </div>

            <div class="col-span-6">
                <label for="discount">الخصم</label>
                <input formControlName="discount" class="form-input" type="number" id="discount" name="discount" placeholder="الخصم...">
            </div>

            <div class="col-span-6">
                <label for="total">الإجمالي</label>
                <input formControlName="totelAmount" class="form-input" type="number" id="total" name="total" placeholder="الإجمالي بعد الخصم...">
            </div>

            <div class="col-span-12">
                <label for="details">التفاصيل</label>
                <textarea formControlName="description" class="form-input" name="details" id="details" placeholder="أدخل التفاصيل او الملاحظات..."></textarea>
            </div>

            <div class="col-span-12">
                <div class="flex justify-center items-center">
                    <button class="btn btn-primary">حفظ</button>
                </div>
            </div>
        </form>
    </div>
    <div class="panel">
        <h1 class="text-[35px] mb-5">عرض عمليات البيع</h1>
        <div class="mb-4 max-w-md">
            <input
                type="text"
                [(ngModel)]="searchTerm"
                (input)="filterSalesOperations()"
                placeholder="ابحث..."
                class="form-input w-full border rounded px-4 py-2"
            />
        </div>

        <div class="overflow-auto">
            <table class="min-w-full bg-white border border-gray-300 text-right">
                <thead class="bg-gray-100">
                    <tr>
                        <th class="px-4 py-2 border cursor-pointer" (click)="sortBy('orderId')">
                            رقم الفاتورة
                            <span *ngIf="sortColumn === 'orderId'">
                                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                            </span>
                        </th>

                        <th class="px-4 py-2 border cursor-pointer" (click)="sortBy('clientName')">
                            إسم العميل
                            <span *ngIf="sortColumn === 'clientName'">
                                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                            </span>
                        </th>

                        <th class="px-4 py-2 border cursor-pointer" (click)="sortBy('productsName')">
                            المنتجات
                            <span *ngIf="sortColumn === 'productsName'">
                                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                            </span>
                        </th>

                        <th class="px-4 py-2 border cursor-pointer" (click)="sortBy('totelAmount')">
                            إجمالي المبلغ
                            <span *ngIf="sortColumn === 'totelAmount'">
                                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                            </span>
                        </th>

                        <th class="px-4 py-2 border cursor-pointer" (click)="sortBy('description')">
                            التفاصيل
                            <span *ngIf="sortColumn === 'description'">
                                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                            </span>
                        </th>
                        <th class="px-4 py-2 border text-center">الإجراء</th>
                    </tr>
                </thead>
                <tbody>
                    @for(operation of filteredSalesOperations; track $index){
                        <tr class="hover:bg-gray-50 transition">
                            <td class="px-4 py-2 border">{{ operation.orderId }}</td>
                            <td class="px-4 py-2 border">{{ operation.clientName }}</td>
                            <td class="px-4 py-2 border">
                                @for (product of operation.productsName; track $index) {
                                    <ul>
                                        <li>{{product}}</li>
                                    </ul>
                                }
                            </td>
                            <td class="px-4 py-2 border">{{ operation.totelAmount }}ج</td>
                            <td class="px-4 py-2 border">{{ operation.description }}</td>
                            <td class="px-4 py-2 border">
                               <div class="flex justify-center items-center gap-3">
                                    <button class="text-blue-600 hover:underline" (click)="modal2.open(); getProductById(operation.orderId)">
                                        <i class="fa-solid fa-pen-to-square text-success"></i>
                                    </button>
                               </div>
                            </td>
                        </tr>
                    }

                    @if(filteredSalesOperations.length === 0){
                        <tr>
                            <td colspan="5" class="text-center py-4 text-gray-500">
                            لا يوجد عملية بيع مطابقة.
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

<!-- Modal -->
<ngx-custom-modal #modal2 customClass="modal-top extra-large-modal">
    <ng-template #modalHeader> <div class="text-center">تفاصيل عملية البيع</div> </ng-template>
    <ng-template #modalBody>
        <h3 class="text-[18px]">رقم الفاتورة : <strong>{{saleOperationById.id}}</strong></h3>
        <h3 class="text-[18px] my-3">إسم العميل : <strong>{{saleOperationById.clientName}}</strong></h3>
        <h3 class="text-[18px]">تفاصيل الفاتورة : </h3>
        <table class="table-auto w-full text-center">
            <tbody>
                <tr>
                    <td>
                        <table  class="table-auto border border-gray-50 w-full text-center">
                            <thead>
                                <tr>
                                    <th>المنتج</th>
                                    <th>الكمية</th>
                                    <th>سعر البيع</th>
                                    <th>الإجمالي</th>
                                    <th>المترجع</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(product of saleOperationById.products ; track $index){
                                    <tr>
                                        <td>{{product.productName}}</td>
                                        <td>{{product.quantity}}</td>
                                        <td>{{product.unitPrice}} جنية</td>
                                        <td>{{product.unitPrice * product.quantity || 0}} جنية</td>
                                        <td>{{product.returnedQuantity || 0}}</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3 class="text-[18px]">الإجمالي قبل الخصم : <strong>{{saleOperationById.totalAmount}} جنية</strong></h3>
        <h3 class="text-[18px]">الخصم : <strong>{{saleOperationById.discount}}</strong></h3>
        <h3 class="text-[18px]">الإجمالي بعد الخصم: <strong>{{saleOperationById.totalAfterSale}} جنية</strong></h3>
    </ng-template>
    <ng-template #modalFooter>
        <button type="button" (click)="modal2.close()" class="btn btn-outline-danger">خروج</button>
    </ng-template>
</ngx-custom-modal>
