<section>
    <div class="panel mb-5">
        <h1 class="text-[35px] mb-5">إضافة موظف</h1>
        <form class="grid grid-cols-12 gap-3 mb-3" [formGroup]="employeeForm" (ngSubmit)="submitEmployeeForm()">
            <div class="col-span-6">
                <label for="employeeName">إسم الموظف</label>
                <input formControlName="fullName" class="form-input" type="text" name="employeeName" id="employeeName" placeholder="أدخل أسم الموظف...">
            </div>

            <div class="col-span-6">
                <label for="number">التليفون</label>
                <input formControlName="mobile" class="form-input" type="tel" name="number" id="number" placeholder="أدخل رقم التليفون...">
            </div>

            <div class="col-span-12">
                <label for="address">العنوان</label>
                <textarea formControlName="address" class="form-input" name="address" id="address" placeholder="أدخل العنوان..."></textarea>
            </div>

            @if(!update){
                <div class="col-span-6">
                    <label for="userName">إسم المستخدم</label>
                    <input formControlName="username" class="form-input" type="text" name="userName" id="userName" placeholder="أدخل أسم المستخدم...">
                </div>

                <div class="col-span-6">
                    <label for="password">كلمة المرور</label>
                    <input formControlName="password" class="form-input" type="password" name="password" id="password" placeholder="أدخل كلمة المرور...">
                </div>
                }

            <div class="col-span-12">
                <div class="flex justify-center items-center">
                    @if(!update){
                        <button class="btn btn-primary">حفظ</button>
                    } @else {
                        <button class="btn btn-success" type="button" (click)="updateEmployee()">تعديل</button>
                    }
                </div>
            </div>
        </form>
    </div>
    <div class="panel">
        <h1 class="text-[35px] mb-5">عرض الموظفين</h1>
        <div class="mb-4 max-w-md">
            <input
                type="text"
                [(ngModel)]="searchTerm"
                (input)="filterEmployees()"
                placeholder="ابحث..."
                class="form-input w-full border rounded px-4 py-2"
            />
        </div>

        <div class="overflow-auto">
            <table class="min-w-full border border-gray-300 text-right">
                <thead class="bg-gray-100">
                    <tr>
                        <th class="px-4 py-2 border cursor-pointer" (click)="sortBy('fullName')">
                            اسم الموظف
                            <span *ngIf="sortColumn === 'fullName'">
                                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                            </span>
                        </th>
                        <th class="px-4 py-2 border cursor-pointer" (click)="sortBy('mobile')">
                            التليفون
                            <span *ngIf="sortColumn === 'mobile'">
                                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                            </span>
                        </th>
                        <th class="px-4 py-2 border cursor-pointer" (click)="sortBy('address')">
                            العنوان
                            <span *ngIf="sortColumn === 'address'">
                                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                            </span>
                        </th>
                        <th class="px-4 py-2 border cursor-pointer" (click)="sortBy('username')">
                            إسم المستخدم
                            <span *ngIf="sortColumn === 'username'">
                                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                            </span>
                        </th>
                        <th class="px-4 py-2 border text-center">الإجراء</th>
                    </tr>
                </thead>
                <tbody>
                    @for(employee of filteredEmployees | paginate: { id: 'foo', itemsPerPage: 10, currentPage: p, totalItems: totalItem }; track $index){
                        <tr class="hover:bg-gray-50 transition">
                            <td class="px-4 py-2 border">{{ employee.fullName }}</td>
                            <td class="px-4 py-2 border">{{ employee.mobile }}</td>
                            <td class="px-4 py-2 border">{{ employee.address }}</td>
                            <td class="px-4 py-2 border">{{ employee.username }}</td>
                            <td class="px-4 py-2 border">
                               <div class="flex justify-center items-center gap-3">
                                    <button class="text-blue-600 hover:underline" (click)="pathEmployeeData(employee)">
                                        <i class="fa-solid fa-pen-to-square text-success"></i>
                                    </button>
                                    <button class="text-red-600 hover:underline" (click)="deleteEmployee(employee.id)">
                                        <i class="fa-solid fa-trash-can text-danger"></i>
                                    </button>
                               </div>
                            </td>
                        </tr>
                    }

                    @if(filteredEmployees.length === 0){
                        <tr>
                            <td colspan="5" class="text-center py-4 text-gray-500">
                            لا يوجد موظف مطابق.
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="flex justify-center items-center mt-3">
                <pagination-controls (pageChange)="p = $event" id="foo" ></pagination-controls>
            </div>
        </div>
    </div>
</section>
